<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>DSA_H_Qt</string>
	<key>CFBundleExecutable</key>
	<string>DSA_Handheld_Qt</string>
	<key>CFBundleGetInfoString</key>
	<string>ArcGIS</string>
	<key>CFBundleIcons</key>
    <dict>
       <key>CFBundlePrimaryIcon</key>
       <dict>
           <key>CFBundleIconFiles</key>
           <array>
               <string>Icon-29.png</string>
               <string>Icon-40.png</string>
               <string>Icon-58.png</string>
               <string>Icon-60.png</string>
               <string>Icon-76.png</string>
               <string>Icon-80.png</string>
               <string>Icon-87.png</string>
               <string>Icon-120.png</string>
               <string>Icon-152.png</string>
               <string>Icon-167.png</string>
               <string>Icon-180.png</string>
               <string>Icon-512.png</string>
               <string>Icon-1024.png</string>
           </array>
       </dict>
    </dict>
    <key>CFBundleIcons~ipad</key>
    <dict>
       <key>CFBundlePrimaryIcon</key>
       <dict>
           <key>CFBundleIconFiles</key>
           <array>
               <string>Icon-29.png</string>
               <string>Icon-40.png</string>
               <string>Icon-58.png</string>
               <string>Icon-60.png</string>
               <string>Icon-76.png</string>
               <string>Icon-80.png</string>
               <string>Icon-87.png</string>
               <string>Icon-120.png</string>
               <string>Icon-152.png</string>
               <string>Icon-167.png</string>
               <string>Icon-180.png</string>
               <string>Icon-512.png</string>
               <string>Icon-1024.png</string>
           </array>
       </dict>
    </dict>
	<key>CFBundleIdentifier</key>
  <string>com.esri.arcgisruntime.opensourceapps.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
  <string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
  <string>1.1</string>
	<key>NOTE</key>
	<string>Built with ArcGIS Runtime SDK for Qt.</string>
	<key>UIFileSharingEnabled</key>
	<string>YES</string>
	<key>UIRequiresPersistentWiFi</key>
	<string>NO</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationAlwaysUsageDescription</key>
	<string></string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
</dict>
</plist>
